/* reset  */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Generics */
body{
    font-family: Whitney, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

header{
    color: var(--primary-color);
    background-color: var(--header-color);
}

footer{
    background-color: var(--footer-color);
}

a{
    color: var(--primary-color);
    text-decoration: none;
}

section{
    flex-basis: 30%;
    padding: 20px;
}

span{
    margin-left: 10px;
}

/* utils */
.container{
    width: 900px;
    margin: auto;
}

.flex{
    display: flex;
}

.border-btn{
    border: 1px solid transparent;
    border-radius: 20px;
    padding: 10px 20px;
}

/* header  */
.header-navbar{
    font-size: 12px;
    align-items: center;
    padding: var(--padd-sm) 0;
}

.navbar-logo{
    width: 20%;
    
}

.navbar-menu{
    flex-grow: 1;
    justify-content: center;
    gap: var(--gap-md);
}

.navbar-actions{
    width: 20%;
    text-align: end;
}

.accedi{
    color: black;
    background-color: var(--primary-color);
}


/* title container */
.title-bg{
    background-image: url("./img/jumbo.png");
    background-size: cover;
    min-height: 400px;
    padding-top: var(--padd-lg);
}

.header-title{
    width: 650px;
    text-align: center;
    vertical-align: middle;
}

.header-title *{
    margin: var(--marg-md) 0;
}

.header-title h1{
    font-size: 40px;
}

.download-app{
    color: black;
    background-color: var(--primary-color);
}

.browser-app{
    background-color: black;
    margin-left: 20px;
}

/* main */
.white-card-bg{
    background-color: var(--primary-color);
    min-height: 400px;
    padding: var(--padd-lg) 0;
}

.gray-card-bg{
    background-color: rgb(237, 235, 235);
    min-height: 400px;
    padding: var(--padd-lg) 0;
}

.gray-card-bg>.card{
    flex-direction: row-reverse;
}



.card{
    justify-content: center;
    align-items: flex-start;
}

.img-card{
    flex-grow: 1;
    height: 300px;
}

section h1{
    font-size: 32px;
    margin-bottom: 20px;
}

section p{
    font-size: 16px;
}

.app-card{
    text-align: center;
}

.app .img-card{
    min-height: 500px;
}

.app-card>h2{
    margin: var(--marg-md) auto;
}

.app-card>a{
    color: var(--primary-color);
    background-color: #577ee1;
}

/* footer  */

